/* 
This is an alternate CSS which first implements the parameters
from the image, i.e. fonts, and colors
*/

* {
   *border: 1px solid orange;
}

/* logofont (header) */
.logotxt {
    margin-left: 50px;
    font-family: Roboto, sans-serif;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    margin-top: 10px;
}

/* font for hero-text */
.heromaintxt {
    margin-left: 50px
    width: 70%;
    font-family: Roboto, sans-serif;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    justify-content: flex-start;
    margin-bottom: 0px;
}

.boxtest {
    display: flex;
    background-color: gray;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 70px;
    padding-right: 60px;
    margin-right: 0px;    
    margin-top: 60px;
    margin-bottom: 100px;

}

/* font for the information header (random info) */
.infoheadertxt {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

/* font for the quote */
.quotetxt {
    font-family: Roboto, san-serif;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937;
}

/* font for the quote source (not given in template) */
.quotesourcetxt {
    font-family: Roboto, san-serif;
    font-size: 26px;
    font-weight: 700;
    color: #1F2937;
    text-align: right;
    margin-top: 15px;
}

.bluebutton {
    color: #3882F6;
}


/* now for the flex-box sections */

body {
    *display: flex;
    *flex-direction: column;
}

.header {
    display: flex;    
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    font-family: Roboto, sans-serif;
    color: #E5E7EB;
    font-size: 18px;
    list-style: none;
    margin-top: 10;
    margin-right: 50px;      
}

li {
    margin-right: 25px;
}


.hero {    
    display: inline-flex;    
    background-color: #1F2937;
    justify-content: space-between;
    
}

.herotxt {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* font for header links and secondary hero-text */
.heroscnd {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-around;
    font-family: Roboto, sans-serif;
    color: #E5E7EB;
    font-size: 18px;
}

.info {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 0;

    background-color: white;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.infoboxes{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.textbox {
    width: 250px;
    *border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.box {
    border: 3px solid blue;        
    border-color: #3882F6;
    margin: 0px;
    padding: 80px;
    border-radius: 15px;
    border-width: 3px;
}

.boxtext {
    *border: 1px solid red;
    color:#1F2937;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    
}

.quote {
    margin: 50px;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;    
}

.action {
    display: flex;
    flex-direction: column;
    background-color: #3882F6;
    border-color: white;
    /* either this way or with a box */
    margin: 30px;
}

.call {

}

.footer {
    display: flex;
    background-color: #1F2937;
}

.signupbtn, .signupbtnwhite {
    background-color:#3882F6;
    color: #F9FAF8;
    font-size: 14px;
    font-weight: 900;
    border-radius: 5px;
    width: 20%;
    padding: 5px;
   
}

.signupbtnwhite {
    border-color: white;
    border-width: 2px;
    font-color: #F9FAF8
    font-size: 18px;
}