*{         
    *border: 2px solid green;
}

body {   
    display: flex;
    flex-flow: column nowrap;    
    background-color: #1f2937;
    color: #F9FAF8;
    font-family: Roboto, sans-serif;
}

.herotext, .logotext {
    font-size: 48px;
    font-weight: 900;
}

.logotext{
    font-size: 24px;    
}

.subtextlt, .subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.subtext {
    color:#1F2937
}

.quote {
    font-size: 36px;
    font-style:italic;
    font-weight:200;
    color: #1F2937;
    background-color: #E5E7EB;
}

.bluecol, button {
    background-color: #3882F6;
}

button .signuplow {
    border: 3px;
    border-color: white;
}

.header {      
    display: flex;
    justify-content: space-between;

    *font-size:48px;
    *font-weight: 900;
    color: #F9FAF8;
}

ul {
    display: flex;         
    list-style: none;
    margin-top: 0;
    margin-left: 10px;
    
}

a {
    text-decoration: none;
    font-weight: normal;
}

box {
    border-color: #3882F6;    
    border: 3px;    
}

.info {
    display: flex;
    flex-direction: row;
}

.container {
    
}

.one {
    display: flex;
}

.two {
    display: flex;
    flex-flow: row nowrap;
    background-color: white;;
}